# .NET
**/bin/
**/obj/
**/*.dll
**/*.exe
**/*.pdb
.vs/
.vscode/
appsettings.Development.json

# Node
**/node_modules/
npm-debug.log
**/dist/
**/build/

# IDE
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
.env.local